.main {
  display: flex;

  &__login {
    background: #FFFFFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__form {
        display: flex;
        flex-direction: column;


        &_text {
          font-family: 'TT Firs Neue', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 48px;
          color: #363636;
        }

        &__buttons {
          margin-top: 3.5rem;
          display: flex;
          align-items: center;
          gap: 36px;

          &_sign {
            align-items: center;
            display: flex;
            padding: 16px 25px 16px 30px;
            gap: 10px;
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            color: #363636;

          }
        }


      }


    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    background: #272727;
    width: 100vw;

    &_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

    }

    &_text {
      padding: 32px 32px;
      text-decoration: none;
      width: 50px;
    }
  }
}


.line {

  width: 194px;
  height: 0;
  border: 1px solid #F3F3F3;

  &__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #646464;
  }
}

.line_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 0.563rem;
  margin-bottom: 48px;
}

.text_bold {
  font-family: 'TT Firs Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white
}

.text_regular {
  font-family: 'TT Firs Neue', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}

.input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ECECEC;
  padding: 16px 16px;
  color: #363636;

  &_error {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #F31212;
    padding: 16px 10px 16px 16px;
    color: #8C8C8C;
  }
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #363636;
}

.newperson {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.signup {
  color: #84A500;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

}